/* Frontend Styles */
/* Base */
a {
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
a:hover, a:active, a:focus {
  text-decoration: underline;
  color: inherit;
}

form p {
  font-size: 1em;
  margin-bottom: 0.5rem;
}
form label {
  margin: 0;
  width: 100%;
  text-transform: uppercase;
}

input[type=text],
input[type=search],
input[type=email],
input[type=tel],
input[type=number],
input[type=password],
textarea,
select {
  width: 100%;
  min-height: 2rem;
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 0;
  background-clip: padding-box;
  box-sizing: border-box;
}

button[type=submit],
input[type=submit] {
  display: block;
  min-height: 2rem;
  padding: 7px 25px;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  color: #ffffff;
  background: #000000;
  box-sizing: border-box;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
button[type=submit]:hover, button[type=submit]:active, button[type=submit]:focus,
input[type=submit]:hover,
input[type=submit]:active,
input[type=submit]:focus {
  background-color: black;
}

textarea {
  min-height: 50px;
}

select {
  position: relative;
  width: 100%;
  border-radius: 0;
  font-size: 1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  border: 1px solid #a3a3a3;
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: #000000;
}

::placeholder {
  color: #000000;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #000000;
}

::-ms-input-placeholder {
  color: #000000;
}

/* Layout */
#header .navbar {
  position: absolute;
  width: 100%;
  z-index: 1080;
  color: #ffffff;
  background: transparent;
  -webkit-transition: position 0.5s, top 0.5s, background 0.5s;
  -moz-transition: position 0.5s, top 0.5s, background 0.5s;
  -o-transition: position 0.5s, top 0.5s, background 0.5s;
  transition: position 0.5s, top 0.5s, background 0.5s;
}
@media (max-width: 991.98px) {
  #header .navbar .navbar-brand-link {
    flex: 1;
  }
}
#header .navbar .navbar-brand {
  max-width: 180px;
  max-height: 38px;
}
#header .navbar .navbar-brand.alt {
  display: none;
}
#header .navbar .navbar-toggler {
  order: 99;
}
#header .navbar .navbar-toggler-icon .bar1,
#header .navbar .navbar-toggler-icon .bar2,
#header .navbar .navbar-toggler-icon .bar3 {
  background-color: #ffffff;
}
#header .navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff;
}
@media (min-width: 992px) {
  #header .navbar.sticky {
    color: #480c00ff;
  }
}
#header .navbar.sticky .search-icon .search-icon__rectangle {
  background: #480c00ff;
}
#header .navbar.sticky .search-icon .search-icon__circle,
#header .navbar.sticky .search-icon .search-icon__rectangle {
  border-color: #480c00ff;
}
#header .navbar.sticky .search-icon:hover .search-icon__rectangle {
  background: rgba(72, 12, 0, 0.8);
}
#header .navbar.sticky .search-icon:hover .search-icon__circle,
#header .navbar.sticky .search-icon:hover .search-icon__rectangle {
  border-color: rgba(72, 12, 0, 0.8);
}
#header .navbar.sticky .navbar-toggler-icon .bar1,
#header .navbar.sticky .navbar-toggler-icon .bar2,
#header .navbar.sticky .navbar-toggler-icon .bar3 {
  background-color: #480c00ff;
}
#header .navbar.sticky .navbar-brand {
  display: none;
}
#header .navbar.sticky .navbar-brand.alt {
  display: block;
}
#header .header-inner {
  position: relative;
  display: flex;
  min-height: 430px;
  margin-bottom: 2rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#header .header-inner::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(163, 163, 163, 0.33);
}
#header .header-inner .container, #header .header-inner .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
#header .header-inner .entry-header > *:not(.alignwide):not(.alignfull),
#header .header-inner .entry-content > *:not(.alignwide):not(.alignfull),
#header .header-inner .entry-footer > *:not(.alignwide):not(.alignfull) {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 10;
}
#header .header-title {
  font-size: 1.7em;
}
@media (min-width: 992px) {
  #header .header-title {
    font-size: 2.7em;
  }
}

article ul,
article ol {
  padding-left: 3rem !important;
}

.footer {
  background-color: #727475;
  background: url("../../images/bg-footer.jpg") center center no-repeat;
  background-size: cover;
}

.footer-widgets {
  padding: 30px 0;
}
.footer-widgets .container, .footer-widgets .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.footer-widgets .entry-header > *:not(.alignwide):not(.alignfull),
.footer-widgets .entry-content > *:not(.alignwide):not(.alignfull),
.footer-widgets .entry-footer > *:not(.alignwide):not(.alignfull) {
  display: grid;
  grid: auto/1fr;
  gap: 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  .footer-widgets .container, .footer-widgets .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.footer-widgets .entry-header > *:not(.alignwide):not(.alignfull),
.footer-widgets .entry-content > *:not(.alignwide):not(.alignfull),
.footer-widgets .entry-footer > *:not(.alignwide):not(.alignfull) {
    grid: auto/repeat(2, 1fr);
    text-align: inherit;
  }
}
@media (min-width: 992px) {
  .footer-widgets .container, .footer-widgets .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.footer-widgets .entry-header > *:not(.alignwide):not(.alignfull),
.footer-widgets .entry-content > *:not(.alignwide):not(.alignfull),
.footer-widgets .entry-footer > *:not(.alignwide):not(.alignfull) {
    grid: auto/repeat(4, 1fr);
  }
}
.footer-widgets .widget {
  padding: 15px 0;
  color: #ffffff;
  font-size: 0.8rem;
}
.footer-widgets .widget .widget-title {
  margin-bottom: 30px;
  color: #ffffff;
}
.footer-widgets .gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.footer-widgets .gallery .gallery-item {
  width: auto !important;
  margin: 0 !important;
}
@media (min-width: 768px) {
  .footer-widgets .gallery {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-widgets .gallery .gallery-item {
    width: auto !important;
    margin: 15px !important;
  }
}

.footer-copyright {
  font-size: 14px;
  color: #727475;
  background-color: #ffffff;
}
.footer-copyright .container, .footer-copyright .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.footer-copyright .entry-header > *:not(.alignwide):not(.alignfull),
.footer-copyright .entry-content > *:not(.alignwide):not(.alignfull),
.footer-copyright .entry-footer > *:not(.alignwide):not(.alignfull) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
@media (min-width: 992px) {
  .footer-copyright .container, .footer-copyright .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.footer-copyright .entry-header > *:not(.alignwide):not(.alignfull),
.footer-copyright .entry-content > *:not(.alignwide):not(.alignfull),
.footer-copyright .entry-footer > *:not(.alignwide):not(.alignfull) {
    flex-direction: row;
  }
}
.footer-copyright .copyright {
  display: flex;
  align-items: center;
  line-height: 1;
}
.footer-copyright .footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-copyright .menu-item:not(:first-child) {
  margin-left: 1rem;
}

/* Components */
.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.navbar .container, .navbar .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.navbar .entry-header > *:not(.alignwide):not(.alignfull),
.navbar .entry-content > *:not(.alignwide):not(.alignfull),
.navbar .entry-footer > *:not(.alignwide):not(.alignfull) {
  display: flex;
  align-items: center;
}
.navbar img {
  width: 100%;
  height: auto;
}
@media (max-width: 575.98px) {
  .navbar img {
    max-width: 250px;
  }
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.navbar-toggler .navbar-toggler-icon {
  display: inline-block;
  cursor: pointer;
}
.navbar-toggler .navbar-toggler-icon .bar1,
.navbar-toggler .navbar-toggler-icon .bar2,
.navbar-toggler .navbar-toggler-icon .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.navbar-toggler .navbar-toggler-icon.close .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 7px);
  transform: rotate(-45deg) translate(-9px, 7px);
}
.navbar-toggler .navbar-toggler-icon.close .bar2 {
  opacity: 0;
}
.navbar-toggler .navbar-toggler-icon.close .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
@media (min-width: 992px) {
  .navbar-toggler {
    display: none;
  }
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
@media (max-width: 991.98px) {
  .navbar-collapse {
    position: absolute;
    top: 0;
    width: 80%;
    height: 100vh;
    padding: 4rem 1.2rem 0;
    background: #622312;
    overflow-x: hidden;
    z-index: 1;
    transition: 0.4s;
  }
  .navbar-collapse:not(.show) {
    left: -100%;
  }
  .navbar-collapse.show {
    left: 0;
  }
}
.navbar-collapse .navbar-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1080;
}
@media (min-width: 992px) {
  .navbar-collapse .navbar-nav {
    flex-direction: row;
  }
}
.navbar-collapse .navbar-nav .nav-item a {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.15rem;
  text-decoration: none;
}
@media (min-width: 992px) {
  .navbar-collapse .navbar-nav .nav-item a {
    padding: 0.5rem 1rem;
  }
}
.navbar-collapse .navbar-nav .nav-item.button, .navbar-collapse .navbar-nav .comments .comment-form input.nav-item[type=submit], .comments .comment-form .navbar-collapse .navbar-nav input.nav-item[type=submit], .navbar-collapse .navbar-nav .comments .nav-item.comment-reply-link, .comments .navbar-collapse .navbar-nav .nav-item.comment-reply-link, .navbar-collapse .navbar-nav .post-excerpt .entry-footer .nav-item.read-more-link, .post-excerpt .entry-footer .navbar-collapse .navbar-nav .nav-item.read-more-link {
  background: #480c00ff;
}
.navbar-collapse .navbar-nav .nav-item.button .nav-link, .navbar-collapse .navbar-nav .comments .comment-form input.nav-item[type=submit] .nav-link, .comments .comment-form .navbar-collapse .navbar-nav input.nav-item[type=submit] .nav-link, .navbar-collapse .navbar-nav .comments .nav-item.comment-reply-link .nav-link, .comments .navbar-collapse .navbar-nav .nav-item.comment-reply-link .nav-link, .navbar-collapse .navbar-nav .post-excerpt .entry-footer .nav-item.read-more-link .nav-link, .post-excerpt .entry-footer .navbar-collapse .navbar-nav .nav-item.read-more-link .nav-link {
  padding: 0;
}
.navbar-collapse .navbar-nav.has-dropdown-menu-to-left .dropdown-menu {
  right: 0;
}
.navbar-collapse .navbar-nav.has-dropdown-menu-to-left .dropdown-menu .dropdown-menu {
  top: 0;
  right: 100%;
}
.navbar-collapse .navbar-nav.has-dropdown-menu-to-right .dropdown-menu {
  left: 0;
}
.navbar-collapse .navbar-nav.has-dropdown-menu-to-right .dropdown-menu .dropdown-menu {
  top: 0;
  left: 100%;
}
@media (min-width: 992px) {
  .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  border-style: solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: translateY(-80%) rotate(45deg);
  -webkit-transform: translateY(-80%) rotate(45deg);
}
@media (min-width: 992px) {
  .dropdown::after {
    right: 0;
  }
}
.dropdown .dropdown-menu {
  display: none;
  min-width: 160px;
  padding: 0;
  list-style: none;
}
.dropdown .dropdown-menu a {
  display: block;
  padding: 8px 15px;
}
.dropdown .dropdown-menu a:hover {
  background-color: #d6d6d6;
}
@media (min-width: 992px) {
  .dropdown .dropdown-menu {
    position: absolute;
    background-color: #ffffff;
  }
  .dropdown .dropdown-menu a {
    color: #480c00ff;
  }
}
.dropdown:hover > .dropdown-menu {
  display: block;
}

.container, .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull),
.entry-footer > *:not(.alignwide):not(.alignfull) {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 575.98px) {
  .container, .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull),
.entry-footer > *:not(.alignwide):not(.alignfull) {
    max-width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .container, .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull),
.entry-footer > *:not(.alignwide):not(.alignfull) {
    max-width: 540px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .container, .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull),
.entry-footer > *:not(.alignwide):not(.alignfull) {
    max-width: 720px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container, .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull),
.entry-footer > *:not(.alignwide):not(.alignfull) {
    max-width: 960px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .container, .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull),
.entry-footer > *:not(.alignwide):not(.alignfull) {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container, .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull),
.entry-footer > *:not(.alignwide):not(.alignfull) {
    max-width: 1320px;
  }
}

/* Button */
.button, .comments .comment-form input[type=submit], .comments .comment-reply-link, .post-excerpt .entry-footer .read-more-link {
  display: inline-block;
  padding: 0.6em 0.889em;
  border: none;
  border-radius: 1.55em;
  box-shadow: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.85em;
  overflow-wrap: break-word;
  cursor: pointer;
  color: #ffffff;
  background: #000000;
}
.button:hover, .comments .comment-form input[type=submit]:hover, .comments .comment-reply-link:hover, .post-excerpt .entry-footer .read-more-link:hover, .button:active, .comments .comment-form input[type=submit]:active, .comments .comment-reply-link:active, .post-excerpt .entry-footer .read-more-link:active, .button:focus, .comments .comment-form input[type=submit]:focus, .comments .comment-reply-link:focus, .post-excerpt .entry-footer .read-more-link:focus {
  color: #ffffff;
  background-color: black;
}

/* Search Bar */
.searchbar {
  position: fixed;
  width: 100%;
  height: 320px;
  background: #622312;
  z-index: 1000;
  transition: 0.4s;
}
@media (min-width: 992px) {
  .searchbar {
    height: 220px;
  }
}
.searchbar:not(.show) {
  top: -100%;
}
.searchbar.show {
  top: 0;
}
.searchbar .container, .searchbar .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.searchbar .entry-header > *:not(.alignwide):not(.alignfull),
.searchbar .entry-content > *:not(.alignwide):not(.alignfull),
.searchbar .entry-footer > *:not(.alignwide):not(.alignfull) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

/* Search Icon */
.search-icon-wrapper {
  position: relative;
  height: 3rem;
  padding: 0 0.75rem 0.5rem;
  border: none;
  background: unset;
}

.search-icon {
  position: relative;
  width: 2rem;
  margin: 0 auto;
  padding: 0.7rem 0;
  text-align: center;
}
.search-icon__circle, .search-icon__rectangle {
  transition: all 0.2s;
}
.search-icon__circle {
  width: 1rem;
  margin: 0 auto;
  height: 1rem;
  border: 0.2rem solid #ffffff;
  border-radius: 1rem;
}
.search-icon__rectangle {
  position: absolute;
  right: 0;
  bottom: 0.5rem;
  width: 0.8rem;
  transform: rotate(45deg);
  border: 0.12rem solid #ffffff;
  border-top-right-radius: 0.12rem;
  border-bottom-right-radius: 0.12rem;
  background: #ffffff;
}
.search-icon:hover {
  cursor: pointer;
}
.search-icon:hover .search-icon__rectangle {
  background: rgba(255, 255, 255, 0.8);
}
.search-icon:hover .search-icon__circle,
.search-icon:hover .search-icon__rectangle {
  border-color: rgba(255, 255, 255, 0.8);
  transition: all 0.2s;
}

.search-form {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
}
@media (max-width: 991.98px) {
  .search-form {
    flex-direction: column;
  }
}
.search-form .search-label {
  display: none;
}
.search-form .search-field {
  flex-grow: 1;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}
@media (min-width: 992px) {
  .search-form .search-field {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .search-form .search-filter {
    flex-basis: 45%;
    border-left: none;
  }
}
.search-form .search-submit {
  text-transform: uppercase;
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #ffffff;
  background: #000000;
  transition: all 0.15s;
}
@media (min-width: 992px) {
  .search-form .search-submit {
    flex-basis: 5%;
  }
}
.search-form .search-submit:hover, .search-form .search-submit:active, .search-form .search-submit:focus {
  background-color: #141414;
}
.search-form .search-field,
.search-form .search-submit {
  border: 1px solid #000000;
  font-size: 1rem;
}
@media (max-width: 991.98px) {
  .search-form .search-field,
.search-form .search-filter,
.search-form .search-submit {
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
  }
}

.blog-sidebar .widget {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ffffff;
}

/* Posts Grid */
.posts-grid, .recent-posts {
  display: grid;
  gap: 2rem;
  grid: auto/1fr;
}
@media (min-width: 768px) {
  .posts-grid, .recent-posts {
    grid: auto/repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .posts-grid, .recent-posts {
    grid: auto/repeat(3, 1fr);
  }
}

/* Post */
.post:not(.post-excerpt) .entry-header {
  margin-bottom: 2rem;
}
.post:not(.post-excerpt) .entry-footer {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.post .entry-title {
  font-size: 2.7em;
  color: #727475;
  text-align: center;
}
@media (min-width: 992px) {
  .post .entry-title {
    text-align: initial;
  }
}

.post-excerpt {
  display: flex;
  flex-direction: column;
}
.post-excerpt .entry-header .post-thumbnail {
  display: block;
  padding: 0 !important;
}
.post-excerpt .entry-header .post-thumbnail img {
  justify-self: stretch;
  width: 100%;
  height: auto;
}
.post-excerpt .entry-header .post-categories,
.post-excerpt .entry-header .entry-title {
  text-align: center;
}
.post-excerpt .entry-header .post-categories {
  margin-bottom: 0;
  text-transform: uppercase;
}
.post-excerpt .entry-header .entry-title {
  font-size: 1.6rem;
  color: #727475;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}
.post-excerpt .entry-content {
  font-size: 1rem;
}
.post-excerpt .entry-footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
}
.post-excerpt:nth-child(1n) .read-more-link {
  background: #e66962;
}
.post-excerpt:nth-child(1n) .read-more-link:hover {
  background: #e2544c;
}
.post-excerpt:nth-child(2n) .read-more-link {
  background: #47512a;
}
.post-excerpt:nth-child(2n) .read-more-link:hover {
  background: #384021;
}
.post-excerpt:nth-child(3n) .read-more-link {
  background: #d57824;
}
.post-excerpt:nth-child(3n) .read-more-link:hover {
  background: #bf6c20;
}
.post-excerpt:nth-child(4n) .read-more-link {
  background: #012b3d;
}
.post-excerpt:nth-child(4n) .read-more-link:hover {
  background: #011924;
}
.post-excerpt:nth-child(5n) .read-more-link {
  background: #e2a831;
}
.post-excerpt:nth-child(5n) .read-more-link:hover {
  background: #db9d1f;
}
.post-excerpt:nth-child(6n) .read-more-link {
  background: #db522c;
}
.post-excerpt:nth-child(6n) .read-more-link:hover {
  background: #cb4723;
}

/* Related posts */
.related {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.related .related-title {
  font-size: 1.6em;
  color: #727475;
}
.related .related-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .related .related-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .related .related-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.wp-block-cover__inner-container,
.entry-header,
.entry-content,
.entry-footer {
  width: 100% !important;
}
.wp-block-cover__inner-container .alignfull,
.entry-header .alignfull,
.entry-content .alignfull,
.entry-footer .alignfull {
  max-width: 100%;
}
.wp-block-cover__inner-container .alignwide,
.entry-header .alignwide,
.entry-content .alignwide,
.entry-footer .alignwide {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1200px) {
  .wp-block-cover__inner-container .alignwide,
.entry-header .alignwide,
.entry-content .alignwide,
.entry-footer .alignwide {
    max-width: 1140px !important;
  }
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.widget img {
  max-width: 100%;
  height: auto;
  border: none !important;
}
.widget ul {
  padding: 0;
  list-style: none;
}
.widget li {
  margin-bottom: 12px;
  font-size: 1rem;
}
.widget .gallery-item {
  margin-top: 8px !important;
  margin-bottom: 8px;
}

.widget-title {
  font-size: 1.8rem;
  color: #727475;
}

.tagcloud {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
}
@media (min-width: 576px) {
  .tagcloud {
    text-align: inherit;
  }
}
.tagcloud .tag-cloud-link {
  display: inline-block;
  padding: 8px;
  font-size: 1em !important;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.25em;
  color: #ffffff;
  background-color: #000000;
}
.tagcloud .tag-cloud-link:hover, .tagcloud .tag-cloud-link:active, .tagcloud .tag-cloud-link:focus {
  background-color: #141414;
}

.pagination .nav-links,
.post-navigation .nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  font-size: 1.2rem;
}
.pagination .nav-links > *,
.post-navigation .nav-links > * {
  padding: 1rem;
}

.pagination {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.pagination .current {
  color: #000000;
}

/* Comments */
.comments {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.comments .comment-reply-title,
.comments .comments-title {
  font-size: 1.6em;
  color: #727475;
}
.comments .comment-list {
  padding: 0;
}
.comments .comment {
  list-style: none;
}
.comments .comment-body {
  padding: 15px;
  margin-bottom: 1rem;
  background-color: #eee;
}
.comments .comment-author {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.comments .comment-author cite {
  font-style: normal;
  color: #727475;
}
.comments .comment-reply-link {
  font-size: 0.68em;
}
.comments .comment-form .comment-form-cookies-consent {
  display: flex;
}
.comments .comment-form input[type=checkbox] {
  display: flex;
  flex: 2;
  margin: 0 0.5rem 0 0;
  min-width: 1.5rem;
}

/* Select Input Wrapper */
.select-wrapper {
  position: relative;
}
.select-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.75rem;
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-color: #000000;
  display: inline-block;
  padding: 2px;
  transform: translateY(-130%) rotate(45deg);
  -webkit-transform: translateY(-130%) rotate(45deg);
}
@media (min-width: 992px) {
  .select-wrapper::after {
    transform: translateY(-80%) rotate(45deg);
    -webkit-transform: translateY(-80%) rotate(45deg);
  }
}
.select-wrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* IE11 hide native button */
}
.select-wrapper select::-ms-expand {
  display: none;
}

/* Charitable Donation Options */
.charitable-donation-options .donation-amounts {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 !important;
}
.charitable-donation-options .donation-amounts .donation-amount {
  margin: 0 0 1rem 0;
  border: none;
  float: unset;
}
@media (min-width: 576px) {
  .charitable-donation-options .donation-amounts .donation-amount {
    margin: 0 2% 2% 0;
  }
}
.charitable-donation-options .donation-amounts .donation-amount.suggested-donation-amount:not(.selected) {
  color: #ffffff;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.charitable-donation-options .donation-amounts .donation-amount.suggested-donation-amount:not(.selected):nth-child(1n) {
  background: #e66962;
}
.charitable-donation-options .donation-amounts .donation-amount.suggested-donation-amount:not(.selected):nth-child(1n):hover {
  background: #e2544c;
}
.charitable-donation-options .donation-amounts .donation-amount.suggested-donation-amount:not(.selected):nth-child(2n) {
  background: #47512a;
}
.charitable-donation-options .donation-amounts .donation-amount.suggested-donation-amount:not(.selected):nth-child(2n):hover {
  background: #384021;
}
.charitable-donation-options .donation-amounts .donation-amount.suggested-donation-amount:not(.selected):nth-child(3n) {
  background: #d57824;
}
.charitable-donation-options .donation-amounts .donation-amount.suggested-donation-amount:not(.selected):nth-child(3n):hover {
  background: #bf6c20;
}
.charitable-donation-options .donation-amounts .donation-amount.suggested-donation-amount:not(.selected):nth-child(4n) {
  background: #012b3d;
}
.charitable-donation-options .donation-amounts .donation-amount.suggested-donation-amount:not(.selected):nth-child(4n):hover {
  background: #011924;
}
.charitable-donation-options .donation-amounts .donation-amount.suggested-donation-amount:not(.selected):nth-child(5n) {
  background: #e2a831;
}
.charitable-donation-options .donation-amounts .donation-amount.suggested-donation-amount:not(.selected):nth-child(5n):hover {
  background: #db9d1f;
}
.charitable-donation-options .donation-amounts .donation-amount.suggested-donation-amount:not(.selected):nth-child(6n) {
  background: #db522c;
}
.charitable-donation-options .donation-amounts .donation-amount.suggested-donation-amount:not(.selected):nth-child(6n):hover {
  background: #cb4723;
}

/* Templates */
/* Blog */
.blog main > .container, .post-template-with-sidebar main > .container, .blog main.wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull), .post-template-with-sidebar main.wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.blog main.entry-header > *:not(.alignwide):not(.alignfull),
.post-template-with-sidebar main.entry-header > *:not(.alignwide):not(.alignfull),
.blog main.entry-content > *:not(.alignwide):not(.alignfull),
.post-template-with-sidebar main.entry-content > *:not(.alignwide):not(.alignfull),
.blog main.entry-footer > *:not(.alignwide):not(.alignfull),
.post-template-with-sidebar main.entry-footer > *:not(.alignwide):not(.alignfull) {
  display: grid;
  grid: auto/100%;
  gap: 2rem;
}
@media (min-width: 992px) {
  .blog main > .container, .post-template-with-sidebar main > .container, .blog main.wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull), .post-template-with-sidebar main.wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.blog main.entry-header > *:not(.alignwide):not(.alignfull),
.post-template-with-sidebar main.entry-header > *:not(.alignwide):not(.alignfull),
.blog main.entry-content > *:not(.alignwide):not(.alignfull),
.post-template-with-sidebar main.entry-content > *:not(.alignwide):not(.alignfull),
.blog main.entry-footer > *:not(.alignwide):not(.alignfull),
.post-template-with-sidebar main.entry-footer > *:not(.alignwide):not(.alignfull) {
    grid: auto/70% 30%;
  }
}
.blog .post-excerpt, .post-template-with-sidebar .post-excerpt,
.blog .post,
.post-template-with-sidebar .post {
  margin-bottom: 2rem;
}

/* With Sidebar */

/*# sourceMappingURL=frontend-styles.css.map */
