/* Button */

.button {
	display: inline-block;
	padding: 0.6em 0.889em;
	border: none;
	border-radius: 1.55em;
	box-shadow: none;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.85em;
	overflow-wrap: break-word;
	cursor: pointer;

	color: $white;
	background: $black;

	&:hover,
	&:active,
	&:focus {
		color: $white;
		background-color: darken($black, 5%);
	}
}
