/* Charitable Donation Options */

.charitable-donation-options {
	.donation-amounts {
		display: flex;
		justify-content: center;
		align-content: center;
		flex-wrap: wrap;
		margin: 0;
		padding: 0 !important;

		.donation-amount {
			margin: 0 0 1rem 0;
			border: none;
			float: unset;

			@media (min-width: 576px) {
				margin: 0 2% 2% 0;
			}

			&.suggested-donation-amount:not(.selected) {
				color: $white;
				-webkit-box-shadow: 0px 10px 13px -7px $black, 5px 5px 15px 5px rgba($black, 0);
				box-shadow: 0px 10px 13px -7px $black, 5px 5px 15px 5px rgba($black, 0);

				@include bg-color-sequence();
			}
		}
	}
}
