// Entrys

.wp-block-cover__inner-container,
.entry-header,
.entry-content,
.entry-footer {
	width: 100% !important;

	& > *:not(.alignwide):not(.alignfull) {
		@extend .container;
	}

	.alignfull {
		max-width: 100%;
	}

	.alignwide {
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;

		// Extra large devices (large desktops, 1200px and up)
		@media (min-width: 1200px) {
			max-width: 1140px !important;
		}
	}
}
