/* Post */

.post {
	&:not(.post-excerpt) {
		.entry-header {
			margin-bottom: 2rem;
		}

		.entry-footer {
			@include margin(3rem null);
		}
	}

	.entry-title {
		font-size: 2.7em;
		color: $sonic-silver;
		text-align: center;

		@media (min-width: 992px) {
			text-align: initial;
		}
	}
}
