/* Search Bar */

.searchbar {
	position: fixed;
	width: 100%;
	height: 320px;
	background: $liver-organ;
	z-index: 1000;
	transition: 0.4s;

	// Large devices (desktops, 992px and up)
	@media (min-width: 992px) {
		height: 220px;
	}

	&:not(.show) {
		top: -100%;
	}

	&.show {
		top: 0;
	}

	.container {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-direction: column;
		height: 100%;
	}
}
