/* Search Icon */

.search-icon-wrapper {
	position: relative;
	height: 3rem;
	padding: 0 0.75rem 0.5rem;
	border: none;
	background: unset;
}

.search-icon {
	position: relative;
	width: 2rem;
	margin: 0 auto;
	padding: 0.7rem 0;
	text-align: center;

	&__circle,
	&__rectangle {
		transition: all 0.2s;
	}

	&__circle {
		width: 1rem;
		margin: 0 auto;
		height: 1rem;
		border: 0.2rem solid $white;
		border-radius: 1rem;
	}

	&__rectangle {
		position: absolute;
		right: 0;
		bottom: 0.5rem;
		width: 0.8rem;
		transform: rotate(45deg);
		border: 0.12rem solid $white;
		border-top-right-radius: 0.12rem;
		border-bottom-right-radius: 0.12rem;
		background: $white;
	}

	&:hover {
		cursor: pointer;

		.search-icon__rectangle {
			background: rgba($white, 0.8);
		}

		.search-icon__circle,
		.search-icon__rectangle {
			border-color: rgba($white, 0.8);
			transition: all 0.2s;
		}
	}
}
