form {
	p {
		font-size: 1em;
		margin-bottom: 0.5rem;
	}

	label {
		margin: 0;
		width: 100%;
		text-transform: uppercase;
	}
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
textarea,
select {
	width: 100%;
	min-height: 2rem;
	padding: 8px;
	border: 1px solid $black;
	border-radius: 0;
	background-clip: padding-box;
	box-sizing: border-box;
}

button[type="submit"],
input[type="submit"] {
	display: block;
	min-height: 2rem;
	padding: 7px 25px;
	text-transform: uppercase;
	border: none;
	border-radius: 0;
	color: #ffffff;
	background: $black;
	box-sizing: border-box;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;

	&:hover,
	&:active,
	&:focus {
		background-color: darken($black, 10%);
	}
}

textarea {
	min-height: 50px;
}

select {
	position: relative;
	width: 100%;
	border-radius: 0;
	font-size: 1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	transition: background-color 5000s ease-in-out 0s;
	border: 1px solid $quick-silver;
	box-shadow: 0 0 0 1000px transparent inset;
	-webkit-text-fill-color: $black;
}

::placeholder {
	color: $black;
	opacity: 1;
}

:-ms-input-placeholder {
	color: $black;
}

::-ms-input-placeholder {
	color: $black;
}
