/* Admin Styles */
#imagediv .inside img {
  max-width: 100%;
  height: auto;
  width: auto;
  vertical-align: top;
  background-image: -webkit-linear-gradient(45deg, #c4c4c4 25%, transparent 25%, transparent 75%, #c4c4c4 75%, #c4c4c4), -webkit-linear-gradient(45deg, #c4c4c4 25%, transparent 25%, transparent 75%, #c4c4c4 75%, #c4c4c4);
  background-image: linear-gradient(45deg, #c4c4c4 25%, transparent 25%, transparent 75%, #c4c4c4 75%, #c4c4c4), linear-gradient(45deg, #c4c4c4 25%, transparent 25%, transparent 75%, #c4c4c4 75%, #c4c4c4);
  background-position: 0 0, 10px 10px;
  -webkit-background-size: 20px 20px;
  background-size: 20px 20px;
}

/*# sourceMappingURL=admin-styles.css.map */
