/* Editor Styles */
.editor-post-title__block .editor-post-title__input {
  font-family: "Futura", sans-serif;
  color: #000000;
}

.wp-block-shortcode textarea {
  color: #000;
  width: 100%;
}

/*# sourceMappingURL=editor-styles.css.map */
