// Footer
.footer {
	background-color: $sonic-silver;
	background: url("../../images/bg-footer.jpg") center center no-repeat;
	background-size: cover;
}

.footer-widgets {
	padding: 30px 0;

	.container {
		display: grid;
		grid: auto / 1fr;
		gap: 2rem;
		text-align: center;

		@media (min-width: 768px) {
			grid: auto / repeat(2, 1fr);
			text-align: inherit;
		}

		@media (min-width: 992px) {
			grid: auto / repeat(4, 1fr);
		}
	}

	.widget {
		padding: 15px 0;
		color: $white;
		font-size: 0.8rem;

		.widget-title {
			margin-bottom: 30px;
			color: $white;
		}
	}

	// Change Gallery Widget to Display Grid
	.gallery {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;

		.gallery-item {
			width: auto !important;
			margin: 0 !important;
		}

		// Medium devices (tablets, 768px and up)
		@media (min-width: 768px) {
			display: flex;
			flex-wrap: wrap;

			.gallery-item {
				width: auto !important;
				margin: 15px !important;
			}
		}
	}
}

.footer-copyright {
	font-size: 14px;
	color: $sonic-silver;
	background-color: $white;

	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 15px 0;

		@media (min-width: 992px) {
			flex-direction: row;
		}
	}

	.copyright {
		display: flex;
		align-items: center;
		line-height: 1;
	}

	.footer-menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.menu-item {
		&:not(:first-child) {
			margin-left: 1rem;
		}
	}
}
