// Header

#header {
	.navbar {
		position: absolute;
		width: 100%;
		z-index: 1080;
		color: $white;
		background: transparent;
		-webkit-transition: position 0.5s, top 0.5s, background 0.5s;
		-moz-transition: position 0.5s, top 0.5s, background 0.5s;
		-o-transition: position 0.5s, top 0.5s, background 0.5s;
		transition: position 0.5s, top 0.5s, background 0.5s;

		@media (max-width: 991.98px) {
			.navbar-brand-link {
				flex: 1;
			}
		}

		.navbar-brand {
			max-width: 180px;
			max-height: 38px;

			&.alt {
				display: none;
			}
		}

		.navbar-toggler {
			order: 99;
		}

		.navbar-toggler-icon {
			.bar1,
			.bar2,
			.bar3 {
				background-color: $white;
			}
		}

		&.sticky {
			position: fixed;
			top: 0;
			width: 100%;
			background: $white;

			@media (min-width: 992px) {
				color: $black-bean;
			}

			.search-icon {
				.search-icon__rectangle {
					background: $black-bean;
				}

				.search-icon__circle,
				.search-icon__rectangle {
					border-color: $black-bean;
				}

				&:hover {
					.search-icon__rectangle {
						background: rgba($black-bean, 0.8);
					}

					.search-icon__circle,
					.search-icon__rectangle {
						border-color: rgba($black-bean, 0.8);
					}
				}
			}

			.navbar-toggler-icon {
				.bar1,
				.bar2,
				.bar3 {
					background-color: $black-bean;
				}
			}

			.navbar-brand {
				display: none;

				&.alt {
					display: block;
				}
			}
		}
	}

	.header-inner {
		position: relative;
		display: flex;
		min-height: 430px;
		margin-bottom: 2rem;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

		&::before {
			content: "";
			display: block;
			@include position(absolute, 0);
			@include size(100%);
			background-color: rgba($quick-silver, 33%);
		}

		.container {
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			z-index: 10;
		}
	}

	.header-title {
		font-size: 1.7em;

		@media (min-width: 992px) {
			font-size: 2.7em;
		}
	}
}
