/* Blog */

.blog {
	main {
		& > .container {
			display: grid;
			grid: auto / 100%;
			gap: 2rem;

			@media (min-width: 992px) {
				grid: auto / 70% 30%;
			}
		}
	}

	.post-excerpt,
	.post {
		margin-bottom: 2rem;
	}
}
