// Color Pallete
// https://coolors.co/a3a3a3-727475-012b3d-47512a-efc94c-d0a53e-dd9933-d55342-be5231-622312
// https://coolors.co/012b3d-47512a-efc94c-d0a53e-dd9933-d55342-be5231-622312-480c00
// https://coolors.co/e66962-425124-d57824-022c3e-e2a831-db522c

$white: #ffffff;
$quick-silver: #a3a3a3;
$sonic-silver: #727475;
$prussian-blue: #012b3d;
$army-green: #47512a;
$maize-crayola: #efc94c;
$goldenrod: #e2a831;
$satin-sheen-gold: #d0a53e;
$harvest-gold: #dd9933;
$ochre: #d57824;
$fire-opal: #e66962;
$cedar-chest: #d55342;
$flame: #db522c;
$sinopia: #be5231;
$liver-organ: #622312;
$black-bean: #480c00ff;
$black: #000000;
