// Background Color Sequence

@mixin bg-color-sequence($child: null) {
	&:nth-child(1n) #{$child} {
		background: $fire-opal;

		&:hover {
			background: darken($fire-opal, 5%);
		}
	}

	&:nth-child(2n) #{$child} {
		background: $army-green;

		&:hover {
			background: darken($army-green, 5%);
		}
	}

	&:nth-child(3n) #{$child} {
		background: $ochre;

		&:hover {
			background: darken($ochre, 5%);
		}
	}

	&:nth-child(4n) #{$child} {
		background: $prussian-blue;

		&:hover {
			background: darken($prussian-blue, 5%);
		}
	}

	&:nth-child(5n) #{$child} {
		background: $goldenrod;

		&:hover {
			background: darken($goldenrod, 5%);
		}
	}

	&:nth-child(6n) #{$child} {
		background: $flame;

		&:hover {
			background: darken($flame, 5%);
		}
	}
}
