/* Shared Styles */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
}

p {
  margin: 0 0 15px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body {
  font-family: "Futura", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.15rem;
  line-height: 1.5;
  color: #727475;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Futura", sans-serif;
  font-weight: normal;
  line-height: 1;
  color: inherit;
}

h1.has-background,
h2.has-background,
h3.has-background,
h4.has-background,
h5.has-background,
h6.has-background,
p.has-background {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1.25rem 2.375rem;
}
h1.has-background + h1.has-background,
h1.has-background + h2.has-background,
h1.has-background + h3.has-background,
h1.has-background + h4.has-background,
h1.has-background + h5.has-background,
h1.has-background + h6.has-background,
h1.has-background + p.has-background,
h2.has-background + h1.has-background,
h2.has-background + h2.has-background,
h2.has-background + h3.has-background,
h2.has-background + h4.has-background,
h2.has-background + h5.has-background,
h2.has-background + h6.has-background,
h2.has-background + p.has-background,
h3.has-background + h1.has-background,
h3.has-background + h2.has-background,
h3.has-background + h3.has-background,
h3.has-background + h4.has-background,
h3.has-background + h5.has-background,
h3.has-background + h6.has-background,
h3.has-background + p.has-background,
h4.has-background + h1.has-background,
h4.has-background + h2.has-background,
h4.has-background + h3.has-background,
h4.has-background + h4.has-background,
h4.has-background + h5.has-background,
h4.has-background + h6.has-background,
h4.has-background + p.has-background,
h5.has-background + h1.has-background,
h5.has-background + h2.has-background,
h5.has-background + h3.has-background,
h5.has-background + h4.has-background,
h5.has-background + h5.has-background,
h5.has-background + h6.has-background,
h5.has-background + p.has-background,
h6.has-background + h1.has-background,
h6.has-background + h2.has-background,
h6.has-background + h3.has-background,
h6.has-background + h4.has-background,
h6.has-background + h5.has-background,
h6.has-background + h6.has-background,
h6.has-background + p.has-background,
p.has-background + h1.has-background,
p.has-background + h2.has-background,
p.has-background + h3.has-background,
p.has-background + h4.has-background,
p.has-background + h5.has-background,
p.has-background + h6.has-background,
p.has-background + p.has-background {
  padding-top: 0;
}

.wp-block {
  max-width: 1140px;
}

.wp-block[data-align=wide] {
  max-width: 1320px;
}

.wp-block[data-align=full] {
  max-width: none;
}

.wp-block-group *:last-child {
  margin-bottom: 0;
}

.wp-block-cover,
.wp-block-cover-image {
  padding-top: 30px;
  padding-bottom: 30px;
}

.wp-block-quote {
  border-color: #fff;
}

.wp-block-buttons.alignright {
  text-align: right;
}
.wp-block-buttons.alignright .wp-block-button {
  margin-right: unset;
}
.wp-block-buttons .wp-block-button .wp-block-button__link {
  padding: 0.6em 0.889em;
  font-size: 0.85em;
}

.wp-block-image {
  margin: 0;
}
.wp-block-image img {
  width: 100%;
  height: auto;
  justify-self: stretch;
}

.blocks-gallery-grid ul,
.wp-block-gallery ul {
  padding: 0 !important;
}
@media (max-width: 767.98px) {
  .blocks-gallery-grid .blocks-gallery-image,
.blocks-gallery-grid .blocks-gallery-item,
.wp-block-gallery .blocks-gallery-image,
.wp-block-gallery .blocks-gallery-item {
    width: 100% !important;
    margin: 0 0 1em 0;
  }
}
@media (min-width: 768px) {
  .blocks-gallery-grid.columns-3 .blocks-gallery-image,
.blocks-gallery-grid.columns-3 .blocks-gallery-item,
.wp-block-gallery.columns-3 .blocks-gallery-image,
.wp-block-gallery.columns-3 .blocks-gallery-item {
    max-width: calc(33.33333% - 0.66667em);
    width: 100%;
  }
  .blocks-gallery-grid.columns-4 .blocks-gallery-image,
.blocks-gallery-grid.columns-4 .blocks-gallery-item,
.wp-block-gallery.columns-4 .blocks-gallery-image,
.wp-block-gallery.columns-4 .blocks-gallery-item {
    max-width: calc(25% - 0.75em);
    width: 100%;
  }
  .blocks-gallery-grid.columns-5 .blocks-gallery-image,
.blocks-gallery-grid.columns-5 .blocks-gallery-item,
.wp-block-gallery.columns-5 .blocks-gallery-image,
.wp-block-gallery.columns-5 .blocks-gallery-item {
    max-width: calc(20% - 0.8em);
    width: 100%;
  }
  .blocks-gallery-grid.columns-6 .blocks-gallery-image,
.blocks-gallery-grid.columns-6 .blocks-gallery-item,
.wp-block-gallery.columns-6 .blocks-gallery-image,
.wp-block-gallery.columns-6 .blocks-gallery-item {
    max-width: calc(16.66667% - 0.83333em);
    width: 100%;
  }
  .blocks-gallery-grid.columns-7 .blocks-gallery-image,
.blocks-gallery-grid.columns-7 .blocks-gallery-item,
.wp-block-gallery.columns-7 .blocks-gallery-image,
.wp-block-gallery.columns-7 .blocks-gallery-item {
    max-width: calc(14.28571% - 0.85714em);
    width: 100%;
  }
  .blocks-gallery-grid.columns-8 .blocks-gallery-image,
.blocks-gallery-grid.columns-8 .blocks-gallery-item,
.wp-block-gallery.columns-8 .blocks-gallery-image,
.wp-block-gallery.columns-8 .blocks-gallery-item {
    max-width: calc(12.5% - 0.875em);
    width: 100%;
  }
}

.wp-block-separator {
  border-bottom: 1px solid;
}
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  width: 70px !important;
}

/* Image with internal caption */
.wp-block-gallery.is-style-internal-caption .blocks-gallery-item figure, .wp-block-column figure.wp-block-image.is-style-internal-caption, .wp-block-image.is-style-internal-caption div, .wp-block-image.is-style-internal-caption figure {
  position: relative;
}
.wp-block-gallery.is-style-internal-caption .blocks-gallery-item figure::before, .wp-block-column figure.wp-block-image.is-style-internal-caption::before, .wp-block-image.is-style-internal-caption div::before, .wp-block-image.is-style-internal-caption figure::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -moz-linear-gradient(top, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.65) 100%);
  background: -webkit-linear-gradient(top, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.65) 100%);
  background: linear-gradient(to bottom, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.65) 100%);
  z-index: 1;
}
.wp-block-gallery.is-style-internal-caption .blocks-gallery-item figure figcaption, .wp-block-column figure.wp-block-image.is-style-internal-caption figcaption, .wp-block-image.is-style-internal-caption div figcaption, .wp-block-image.is-style-internal-caption figure figcaption {
  display: block;
  position: absolute;
  right: 50%;
  bottom: 2rem;
  left: 50%;
  padding: 0;
  transform: translateX(-50%);
  width: 90%;
  margin: 0;
  font-size: 1.12rem;
  color: #fff;
  background: none;
  z-index: 10;
}

.wp-block-image.is-style-internal-caption figure::before {
  bottom: 8px;
}
.wp-block-column figure.wp-block-image.is-style-internal-caption::before {
  bottom: 8px;
}

.has-small-font-size {
  font-size: 16px;
}

.has-normal-font-size {
  font-size: 18px;
}

.has-medium-font-size {
  font-size: 24px;
}

.has-big-font-size {
  font-size: 40px;
}

.has-huge-font-size {
  font-size: 50px;
}

@media (max-width: 767.98px) {
  .has-huge-font-size {
    font-size: 48px;
  }
}

.has-white-color {
  color: #ffffff !important;
}

.has-white-background-color {
  background-color: #ffffff !important;
}

.has-quick-silver-color {
  color: #a3a3a3 !important;
}

.has-quick-silver-background-color {
  background-color: #a3a3a3 !important;
}

.has-sonic-silver-color {
  color: #727475 !important;
}

.has-sonic-silver-background-color {
  background-color: #727475 !important;
}

.has-prussian-blue-color {
  color: #012b3d !important;
}

.has-prussian-blue-background-color {
  background-color: #012b3d !important;
}

.has-army-green-color {
  color: #47512a !important;
}

.has-army-green-background-color {
  background-color: #47512a !important;
}

.has-maize-crayola-color {
  color: #efc94c !important;
}

.has-maize-crayola-background-color {
  background-color: #efc94c !important;
}

.has-goldenrod-color {
  color: #e2a831 !important;
}

.has-goldenrod-background-color {
  background-color: #e2a831 !important;
}

.has-satin-sheen-gold-color {
  color: #d0a53e !important;
}

.has-satin-sheen-gold-background-color {
  background-color: #d0a53e !important;
}

.has-harvest-gold-color {
  color: #dd9933 !important;
}

.has-harvest-gold-background-color {
  background-color: #dd9933 !important;
}

.has-ochre-color {
  color: #d57824 !important;
}

.has-ochre-background-color {
  background-color: #d57824 !important;
}

.has-fire-opal-color {
  color: #e66962 !important;
}

.has-fire-opal-background-color {
  background-color: #e66962 !important;
}

.has-cedar-chest-color {
  color: #d55342 !important;
}

.has-cedar-chest-background-color {
  background-color: #d55342 !important;
}

.has-flame-color {
  color: #db522c !important;
}

.has-flame-background-color {
  background-color: #db522c !important;
}

.has-sinopia-color {
  color: #be5231 !important;
}

.has-sinopia-background-color {
  background-color: #be5231 !important;
}

.has-liver-organ-color {
  color: #622312 !important;
}

.has-liver-organ-background-color {
  background-color: #622312 !important;
}

.has-black-bean-color {
  color: #480c00 !important;
}

.has-black-bean-background-color {
  background-color: #480c00 !important;
}

.has-black-color {
  color: #000000 !important;
}

.has-black-background-color {
  background-color: #000000 !important;
}

/*# sourceMappingURL=shared-styles.css.map */
