/* Webfonts */
@font-face {
  font-family: "Futura";
  src: url("../../fonts/Futura-Bol.woff2") format("woff2"), url("../../fonts/Futura-Bol.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura";
  src: url("../../fonts/Futura-Med.woff2") format("woff2"), url("../../fonts/Futura-Med.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/*# sourceMappingURL=webfonts.css.map */
